/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
:root {
  /* Colors */
  --primary: #333231;
  --secondary: #FCFCFC;
  --tertiary: #3486D9;
  --atext-color: #302F4D;
  --texto-opaco: gray;
  --general_background-color: #FCFCFC;
  --alternative_background-color: #E6E6E6;
  /* Spacings */
  --spacing-large: 6rem;
  --spacing-medium: 3rem;
  --spacing-small: 2rem;
  --spacing-xsmall: 1rem;
  /* Font-family */
  --font-principal: "Ubuntu", sans-serif;
  --font-secundaria: "Source Sans Pro", sans-serif;
  /* Font-weigth */
  /* Font-Sizes */
  --text-xlarge: 5em;
  --text-large: 4em;
  --text-medium: 1.7em;
  --text-base: 1.45em;
  --text-small: 1.25em;
}

/*Estilos Globales*/
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--general_background-color);
}

ul {
  list-style-type: none;
}

.cabecera {
  grid-area: cabecera;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: blue;
  font-family: var(--font-principal);
  font-weight: bold;
  font-size: var(--text-base);
  padding-left: 200px;
  padding-right: 200px;
  z-index: 980;
}

.menusticky {
  grid-area: menusticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--general_background-color);
  z-index: 990;
}

.menus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: var(--general_background-color);
  font-family: var(--font-principal);
  font-weight: bold;
  font-size: var(--text-base);
}

.menus ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  padding: 4px;
  transition: all 0.2s;
}

.menus a {
  color: var(--primary);
  text-decoration-style: none;
  text-decoration-line: none;
}

.menus ul li ul {
  color: var(--primary);
  position: absolute;
  display: none;
  padding-top: 20px;
}

.menus ul li:hover ul {
  display: block;
}

.menus ul li ul li {
  display: block;
}

.menus ul li ul li a {
  display: block;
  text-decoration-style: none;
  text-decoration-line: none;
}

.cabecera_linkss {
  color: var(--secondary);
  text-decoration-style: none;
  text-decoration-line: none;
  margin-left: 40px;
  margin-right: 40px;
}

.cabecera2 {
  grid-area: cabecera2;
  display: grid;
  grid-template-areas: ". logo user";
  width: 100%;
  background-color: var(--general_background-color);
  font-family: var(--font-principal);
  font-weight: bold;
  font-size: var(--text-base);
  margin-right: 160px;
  padding-left: 250px;
  position: sticky;
  top: 0;
}

.user {
  grid-area: user;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--general_background-color);
  font-family: var(--font-principal);
  font-weight: bold;
  font-size: var(--text-base);
  padding-right: 50px;
}

.user a {
  margin-right: 15px;
}

.logo {
  grid-area: logo;
}

/*pagina home*/
.grilla__home {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "menusticky menusticky menusticky" "carrousel carrousel carrousel" "mosaic mosaic mosaic";
  grid-template-rows: 50px 110px 600px 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.carrousel {
  grid-area: carrousel;
  margin-left: 40px;
  margin-right: 40px;
  overflow: hidden;
}

.carrousel .grande {
  width: 300%;
  display: grid;
  grid-template-areas: "cr1 cr2 cr3";
  grid-template-rows: 600px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .puntos {
  position: relative;
  top: -50px;
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  background-color: rgb(235, 137, 10);
}

.carrousel .punto.activo {
  background-color: rgb(4, 22, 28);
}

.carrousel .cr1,
.cr2,
.cr3 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 600px;
  background-size: cover;
  color: aqua;
}

.carrousel .cr1 {
  grid-area: cr1;
  background-image: url("/assets/img/ent_hotham-5_948x948_crop_center.jpg");
}

.carrousel .cr2 {
  grid-area: cr2;
  background-image: url("/assets/img/firepit_hotham_605X455_452017d7-5b80-4f46-8464-ed6c3076566a_605x455.jpg");
}

.carrousel .cr3 {
  grid-area: cr3;
  background-image: url("/assets/img/Furn_Pergolas_HP_900x560.jpg");
}

.carrousel .grande .cr1 .cr1le,
.cr2le,
.cr3le {
  background-color: rgb(63, 62, 61);
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mosaic {
  grid-area: mosaic;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  display: grid;
  grid-template-areas: "mosaic1 mosaic1 mosaic1 mosaic1 mosaic2 mosaic2 mosaic2 mosaic2 mosaic4 mosaic4 mosaic4 mosaic4" "mosaic1 mosaic1 mosaic1 mosaic1 mosaic3 mosaic3 mosaic3 mosaic3 mosaic4 mosaic4 mosaic4 mosaic4" "mosaic5 mosaic5 mosaic5 mosaic5 mosaic5 mosaic5 mosaic6 mosaic6 mosaic6 mosaic6 mosaic6 mosaic6" "mosaic7 mosaic7 mosaic7 mosaic7 mosaic7 mosaic7 mosaic8 mosaic8 mosaic8 mosaic9 mosaic9 mosaic9";
  grid-template-rows: 400px 400px 1000px 800px;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.mosaic .mosaic1,
.mosaic2,
.mosaic3,
.mosaic4,
.mosaic5,
.mosaic6,
.mosaic7,
.mosaic8,
.mosaic9 {
  background-color: darkgreen;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mosaic .mosaic1 {
  grid-area: mosaic1;
  background-image: url(/assets/img/flame_sculpture_560x900.jpg);
}

.mosaic .mosaic2 {
  grid-area: mosaic2;
  background-image: url(../assets/img/firepit_hotham_605X455_452017d7-5b80-4f46-8464-ed6c3076566a_605x455.jpg);
}

.mosaic .mosaic3 {
  grid-area: mosaic3;
  background-image: url(./assets/img/Vert-Garden-HP_605x455.jpg);
}

.mosaic .mosaic4 {
  grid-area: mosaic4;
  background-image: url(./assets/img/Entanglements_0009_1350x2026.jpg);
}

.mosaic .mosaic5 {
  grid-area: mosaic5;
  background-image: url(./assets/img/dr-arora---toorak---the-murray---rust---led-strip-lighting---wall-art_384x577.jpg);
}

.mosaic .mosaic6 {
  grid-area: mosaic6;
  background-image: url(./assets/img/Wall_Decor_HP_908x1000.jpg);
}

.mosaic .mosaic7 {
  grid-area: mosaic7;
  background-image: url(./assets/img/Furn_Pergolas_HP_900x560.jpg);
}

.mosaic .mosaic8 {
  grid-area: mosaic8;
  background-image: url(./assets/img/MG_0089_885x1200.jpg);
}

.mosaic .mosaic9 {
  grid-area: mosaic9;
  background-image: url(./assets/img/Kuru_Gate_570x920.jpg);
}

.grilla__shop {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "menusticky menusticky menusticky" "cards cards cards" "footer footer footer";
  grid-template-rows: 50px 110px auto 400px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.cantidad-carrito {
  display: none;
}

.cards {
  grid-area: cards;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-secundaria);
  color: var(--primary);
  font-size: var(--text-medium);
  text-align: left;
  padding-right: 200px;
}

.cards-prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 100%;
  padding: 10px;
  background-color: none;
}

.contenedor-imagen {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
  height: 500px;
  align-items: center;
  background-color: none;
  overflow: hidden;
}

#img-prod-card {
  width: 500px;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: auto;
  background-color: var(--primary);
}

.grilla__carrito {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "menusticky menusticky menusticky" "carro carro carro" "footer footer footer";
  grid-template-rows: 50px 110px auto 400px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.carroCompras {
  grid-area: carro;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 136, 255);
}

.cards-carrito {
  grid-area: cards;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 255, 157);
}

.card-carrito-body {
  display: flex;
  flex-direction: row;
  font-family: var(--font-principal);
  font-size: var(--text-medium);
  text-align: left;
  padding-right: 200px;
}

.cards-carrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  height: 100%;
  padding: 10px;
  background-color: rgb(255, 0, 183);
}

.imagenes-carrito {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
  height: 300px;
  align-items: center;
  background-color: rgb(242, 255, 0);
  overflow: hidden;
}

#img-carrito-card {
  width: 100px;
}

.delete-product {
  cursor: pointer;
}

.cantidad-carrito {
  display: none;
}/*# sourceMappingURL=estilo.css.map */