.cards{
	grid-area: cards;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	 align-items: center;
	 justify-content: space-around;
	background-color:none;
	padding-left: 200px;
	padding-right: 200px;
	// z-index: 980;
}
.card-body {
display: flex;
flex-direction: column;
	font-family: var(--font-secundaria);
	color: var(--primary);
	// font-weight: bold;
	font-size: var(--text-medium);
text-align: left;
padding-right: 200px;

}

.cards-prod {
	display: flex;
    flex-direction: column;
	align-items: center;
    width: 390px;
    height: 80%;
	padding: 10px;
	// background-color: rgb(255, 0, 183);
	background-color:none;
}

.contenedor-imagen{
	display: flex;
justify-content: center;
margin: 10px;
width: 100%;
height: 380px;
align-items: center;
// background-color: rgb(242, 255, 0);
background-color:none;
overflow: hidden;

}

#img-prod-card{
	width: 500px;
}