.grilla__carrito {
	display: grid;
	grid-template-areas:
		"cabecera cabecera cabecera"
		"menusticky menusticky menusticky"
		"carro carro carro"
		"footer footer footer"
	;
	grid-template-rows: 50px  110px auto 300px ;
	grid-template-columns: 1fr 1fr 1fr;
	height: 100vh;
	row-gap: 10px;
	column-gap: 10px;
}

.carroCompras{
	grid-area: carro;
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	 align-items: center;
	 justify-content: space-around;

}



.delete-product{
	cursor: pointer;
}


.cantidad-carrito{
	display: none;
	font-family: var(--font-principal);
	color:blue;
	font-size: var(--text-base); 
}


.carrito-text{
	font-family: var(--font-tercera);
	color: var(--primary);
	font-weight: bold;
	font-size: var(--text-base);
	padding: 20px;
}



.Vaciar-carrito{
	font-family: var(--font-principal);
	color: var(--primary);
	font-size: var(text-small); 
       background-color:var(--general_background-color);
	   border-color: gainsboro;
	   border-width: 1px;
}