.grilla__shop {
	display: grid;
	grid-template-areas:
		"cabecera cabecera cabecera"
		"menusticky menusticky menusticky"
		"cards cards cards"
		"footer footer footer"
	;
	grid-template-rows: 50px  110px auto 300px ;
	grid-template-columns: 1fr 1fr 1fr;
	height: 100vh;
	row-gap: 10px;
	column-gap: 10px;
}


.btn-busqueda{
	font-family: var(--font-principal);
	color: var(--primary);
	font-size: var(--text-base); 
       background-color:var(--general_background-color);
}

.control-formulario{
	font-family: var(--font-principal);
	color: var(--primary);
	font-size: var(text-small); 
       background-color:var(--general_background-color);
	   border-color: gainsboro;
	   border-width: 1px;
}


.prodAgregado{
	font-family: var(--font-principal);
	color: var(--primary);
	font-size: var(text-small); 
       background-color:var(--general_background-color);
	   border-color: gainsboro;
	   border-width: 1px;
}

.no-encontrado{
	font-family: var(--font-principal);
	color: var(--primary);
	font-size: var(--text-medium); 
       background-color:var(--general_background-color);

}